@import url("https://fonts.googleapis.com/css?family=Roboto");

* {
    padding: 0;
    margin: 0;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

div.nav-bar {
    background-color: royalblue;
    text-align: center;
}

div.nav-bar ul {
    padding: 0;
    margin: 0;
}

div.nav-bar ul li {
    display: inline-block;
}

div.nav-bar ul li a {
    padding: 15px;
    display: inline-block;
    color: white;
    text-decoration: none;
}

div.nav-bar ul li a:hover {
    padding: 15px;
    display: inline-block;
    background-color: rgb(106, 150, 233);
}

div.nav-bar ul li a {
}
